In [5]:
import pandas as pd
import numpy as np
import datetime
from collections import Counter
from py2neo import Graph, Node, Relationship
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
graph = Graph()

In [7]:
query = """
            MATCH (m:Movie)-[:HAS_GENRE]->(g:Genre)
            RETURN  m.movieID as movieID, COALESCE(g.name) as genres
            ORDER BY m.movieID ASC
            """
dffilmgen = pd.DataFrame(graph.run(query).data())

   movieID     genres
0        1  Adventure
1        1  Animation
2        1   Children
3        1     Comedy
4        1    Fantasy

In [9]:
dffilmgen.groupby('genres').count()

                  movieID
genres
Action               1828
Adventure            1263
Animation             611
Children              664
Comedy               3756
Crime                1199
Documentary           440
Drama                4361
Fantasy               779
Film-Noir              87
Horror                978
IMAX                  158
Musical               334
Mystery               573
Romance              1596
Sci-Fi                980
Thriller             1894
War                   382
Western               167
no genres listed       34

In [12]:
dffilmgen = pd.get_dummies(dffilmgen, columns=['genres']).groupby('movieID').sum()